.range_slider {
  padding-bottom: 5rem;
}
.range_slider [type="range"] {
  width: 100%;
  -webkit-appearance: none;
  background: #f1f1f1;
  height: 12px;
  border-radius: 5px;
  outline: none;
  padding: 0;
  margin: 0;
}
// custom thumb properties chrome
.range_slider [type="range"]::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
  width: 50px;
  height: 50px;
  background: $strongCyan;
  background-image: url("../assets/images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  box-shadow: $strongCyan 0px 10px 30px -3px;
}

// custom thumb properties firefox
.range_slider [type="range"]::-moz-range-thumb {
  cursor: pointer;
  -webkit-appearance: none;
  width: 50px;
  height: 50px;
  background: $strongCyan;
  background-image: url("../assets/images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  box-shadow: $strongCyan 0px 10px 30px -3px;
}

.range_slider [type="range"]::-webkit-slider-thumb:active {
  cursor: grabbing;
}

.range_slider [type="range"]::-moz-range-thumb:active {
  cursor: grabbing;
}

.range_slider_top {
  display: none;
}
