//interactive card and components
.header-text {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  background-image: url("../assets/images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  width: 600px;
  height: 400px;
  background-color: $white;
  position: absolute;
  top: 275px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: rgba(185, 198, 235, 0.5) 0px 12px 36px 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  .card-section {
    padding: 0rem 4rem;
  }
  .card-top {
    flex: 1;
    @include flex(row, space-between, center);
    .views {
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      .views-num {
        font-size: 1.6rem;
      }
    }
    @import "./inputRange";
    .price {
      position: relative;
      .price-num {
        position: absolute;
        left: -145px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 4rem;
        color: $darkDesaturatedBlue;
        @include manrope(800);
      }
    }
  }
  .card-middle {
    flex: 1;
    position: relative;
    @import "./inputRange";
    @import "./inputToggle";

    .discount {
      &::after {
        content: "25% discount";
        position: absolute;
        right: 38px;
        bottom: 38px;
        color: $lightRed;
        background: $lightGrayishRed;
        padding: 0.75rem 1.15rem;
        border-radius: 25px;
      }
    }
  }
  .card-bottom {
    flex: 1;
    border-top: solid $lightGrayishBlue thin;
    @include flex(row, space-between, center);
    ul {
      li {
        p {
          padding-left: 1rem;
        }
      }
    }
    .cta {
      a {
        display: block;
        padding: 2rem 4rem;
        background-color: $darkDesaturatedBlue;
        color: $paleBlue;
        border-radius: 25px;
        &:hover {
          color: $white;
        }
      }
    }
  }
}

//attribution for frontend mentor
.attribution {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
